{{ for field in [__form] }}
    {{ if [field:description] }}
        <p>[field:description]</p>
    {{ endif }}
    {{ if [field:type] == 'SubmitField' }}
            [field]
    {{ elif [field:type] == 'BooleanField' }}
            <div>
                <label for="[field:name]">
                    [field] [field:label:text]
                </label>
            </div>
    {{ elif [field:type] == 'FieldList' }}
            {{ for nested_field in [field] }}
                <table id="products-0">
                    <tbody>
                        {{ for f in [nested_field] }}
                        <tr>
                            {{ for error in [f:errors] }}
                                <p class="error">[error]</p>
                            {{ endfor }}
                            <th>[f:label]</th>
                            <td>[f]</td>
                        </tr>
                        {{ endfor }}
                    </tbody>
                </table>
                {{ endfor }}
    {{ else }}
        {{ if [field:errors] }}
            {{ for error in [field:errors] }}
                <p class="error">[error]</p>
            {{ endfor }}
        {{ endif }}
        <div>
            [field:label]
            [field]
        </div>
    {{ endif }}
{{ endfor }}
