[header]
<main>
    <div>
        <section class="[page_id]_list">
            <header>
                <h1>Clients</h1>
            </header>
            {{ if len([clients]) > 0 }}
                {{ inline clients/parts/clients_table.html }}
            {{ else }}
                <p>You have no clients.</p>
            {{ endif }}
            </section>
    </div>
    <div>
        <section id="new" class="[page_id]_new">
            <header>
                <h1>New client</h1>
                <p>Register a new client</p>
            </header>
        {{ inline clients/parts/register_client.html}}
        </section>
    </div>
</main>
[footer]
