[header]
<script src="/js/forms.js"></script>
<section>
  <h2>Edit Supplier: [supplier:name]</h2>
  <p><a href="/?supplier=[supplier:ID]">Products by this supplier</a></a>
  <form action="/supplier/[supplier:name]" method="post" class="supplier">
    <input type="hidden" name="xsrf" value="[xsrf]" />
    <div><label for="name">Name</label><input type="text" id="name" name="name" value="[supplier:name]" maxlength="45" required></div>
    <p>The name for each supplier in your warehouse must be unique.</p>
    <div><label for="website">Website</label><input type="url" id="website" name="website" value="[supplier:website|NullString]" maxlength="255"></div>
    <div><label for="telephone">Telephone</label><input type="telephone" id="telephone" name="telephone" value="[supplier:telephone|NullString]" maxlength="45"></div>
    <div><label for="contact_person">Contact person</label><input type="text" id="contact_person" name="contact_person" value="[supplier:contact_person|NullString]" maxlength="255"></div>
    <div><label for="email_address">Email address</label><input type="email" id="email_address" name="email_address" value="[supplier:email_address|NullString]" maxlength="255"></div>
    <div><label for="gscode">GS code</label><input type="number" id="gscode" name="gscode" value="[supplier:gscode|NullString]" maxlength="10"></div>
    <p>The GS code for each supplier in your warehouse should be unique, it is used in conjunction with the suppliers products GS1 code to determine the EAN barcode.</p>
    <div><input type="submit" value="Save changes" class="primary"></div>
  </form>
</section>

<section>
  <h2>Contact Supplier:</h2>
  <nav>
    <ul>
    {{ if [supplier:telephone] }}<li>Call: <a href="tel:[supplier:telephone|NullString]">[supplier:telephone|NullString]</a></li>{{ endif }}
    {{ if [supplier:email_address] }}<li>Mail: <a href="mailto:[supplier:email_address|NullString]">[supplier:email_address|NullString]</a></li>{{ endif }}
    {{ if [supplier:website] }}<li>Visit: <a href="[supplier:website|NullString]" rel="external">[supplier:website|NullString]</a></li>{{ endif }}
    </ul>
  </nav>
</section>

<section>
  <h2>Delete Supplier:</h2>
  <form action="/supplier/[supplier:name]/remove" method="post">
    <input type="hidden" name="xsrf" value="[xsrf]">
    <input type="submit" value="Remove" onclick="return confirm('Are you sure you want to delete this supplier?');">
  </form>
</section>
[footer]
