[header]
<section>
    <h2>Suppliers for this product</h2>
    {{ inline tables/product_suppliers.html }}
</section>

<section>
    <h2>Manage suppliers for product [product:name]</h2>
    {{ inline forms/supplier_product.html }}
</section>

<section>
    <h2>Attach supplier product to product</h2>
    <form action="/product/[product:sku]/couple_products" method="post">
        <input type="hidden" name="xsrf" value="[xsrf]">
        <div>
            [couple_form:sup_sku:label]
            [couple_form:sup_sku]
        </div>
        <div>
            [couple_form:sup_product:label]
            [couple_form:sup_product]
        </div>
        <div>
            {{ if [couple_form:selected_supplier:errors] }}
                [couple_form:selected_supplier:errors]
            {{ endif }}
            [couple_form:selected_supplier:label]
            [couple_form:selected_supplier]
        </div>
        <div style="width: 100%">
            <label for="supplier_product_input">Supplier product</label>
            <input list="supplier_products_datalist" id="supplier_product" name="supplier_product" autocomplete="off"
                style="width: 100%" />
            <datalist id="supplier_products_datalist">
            </datalist>
        </div>
        <div>
            <input type="submit" value="Koppel">
        </div>
    </form>
</section>
<br>
<script src="/js/supplier_product_selecter.js"></script>
[footer]