<form action="/product/[product:sku]/assemble" method="post">
    <input type="hidden" name="xsrf" value="[xsrf]">
    {{ ifpresent [assemble_form] }}
        {{ if [assemble_form] and [assemble_form:part:errors] }}
            {{ for error in [assemble_form:part:errors] }}
                <p class="error">[error]</p>
            {{ endfor }}
        {{ endif }}
    {{ endif }}
    <div><label for="part">Part</label>
        <select name="part" id="part">
            {{ for part in [possibleparts] }}
            <option value="[part:sku]">[part:sku] - [part:name]{{ if [part:assemblycosts] }} - [part:assemblycosts]{{ endif }}
            </option>
            {{ endfor }}
        </select>
    </div>

    <p>How many of the selected product are used as parts in the current product?</p>
    {{ ifpresent [assemble_form] }}
        {{ if [assemble_form] and [assemble_form:amount:errors] }}
            {{ for error in [assemble_form:amount:errors] }}
                <p class="error">[error]</p>
            {{ endfor }}
        {{ endif }}
    {{ endif }}
    <div><label for="amount">Amount use</label><input type="number" step="1" min="1" id="amount" name="amount"
            value="1"></div>

    <p>What does it cost to use the selected product as a part in the current product? A sticker needs to be
        applied, a jar needs to be filled.</p>
    {{ ifpresent [assemble_form] }}
        {{ if [assemble_form] and [assemble_form:assemblycosts:errors] }}
            {{ for error in [assemble_form:assemblycosts:errors] }}
                <p class="error">[error]</p>
            {{ endfor }}
        {{ endif }}
    {{ endif }}
    <div><label for="assemblycosts">Assembly cost</label>
        <p>&euro;&nbsp;</p><input type="number" step="0.01" min="0" id="assemblycosts" name="assemblycosts"
            value="[product:assemblycosts|NullString]">
    </div>

    <div><input type="submit" value="Add this part to this assembly"></div>
</form>
