<form action="/product/[product:sku]/stock/disassemble" method="post">
    <input type="hidden" name="xsrf" value="[xsrf]">
    {{ for field in [disassemble_into_parts_form] }}
        <p>[field:description]</p>
        {{ if [field:errors] }}
            {{ for error in [field:errors] }}
                <p class="error">[error]</p>
            {{ endfor }}
        {{ endif }}
        <div>
            [field:label]
            [field]
        </div>
    {{ endfor }}
    <div>
        <input type="submit" value="Add stock change" class="secundary">
    </div>
</form>
