<form {{ ifpresent [product] }} action="/product/[product:name]" {{ else }} action="/" {{ endif }} method="post"
    class="product">
    <input type="hidden" name="xsrf" value="[xsrf]">
    {{ ifpresent [form] }}
        {{ if [form] and [form:name:errors] }}
            {{ for error in [form:name:errors] }}
                <p class="error">[error]</p>
            {{ endfor }}
        {{ endif }}
    {{ endif }}
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" maxlength="255"
            value="{{ ifpresent [product] }}[product:name]{{ endif }}" required>
    </div>
    <p>The name for each sku in your warehouse must be unique, only products that can be ordered by end customers
        should have an easily recognizable sku.</p>
    {{ ifpresent [form] }}
        {{ if [form] and [form:sku:errors] }}
            {{ for error in [form:sku:errors] }}
                <p class="error">[error]</p>
            {{ endfor }}
        {{ endif }}
    {{ endif }}
    <div>
        <label for="sku">SKU</label>
        <input type="text" id="sku" name="sku" maxlength="255"
            value="{{ ifpresent [product] }}[product:sku|NullString]{{ endif }}">
    </div>
    <p>The ean barcode for each product or part in your warehouse must be unique.</p>
    {{ ifpresent [form] }}
        {{ if [form] and [form:ean:errors] }}
            {{ for error in [form:ean:errors] }}
                <p class="error">[error]</p>
            {{ endfor }}
        {{ endif }}
    {{ endif }}
    <div>
        <label for="ean">Ean</label><input type="number" id="ean" name="ean" maxlength="13"
            value="{{ ifpresent [product] }}[product:ean|NullString]{{ endif }}">
    </div>

    <p>The gs1 for each product or part in your warehouse must be unique.</p>
    {{ ifpresent [form] }}
        {{ if [form] and [form:gs1:errors] }}
            {{ for error in [form:gs1:errors] }}
                <p class="error">[error]</p>
            {{ endfor }}
        {{ endif }}
    {{ endif }}
    <div>
        <label for="gs1">GS1</label><input type="text" id="gs1" name="gs1" maxlength="255"
            value="{{ ifpresent [product] }}[product:gs1|NullString]{{ endif }}">
    </div>
    <p>What does it cost to use this part in a bifer product? A sticker needs to be applied, a jar needs to be
        filled.</p>
    {{ ifpresent [form] }}
        {{ if [form] and [form:assemblycosts:errors] }}
            {{ for error in [form:assemblycosts:errors] }}
                <p class="error">[error]</p>
            {{ endfor }}
        {{ endif }}
    {{ endif }}
    <div>
        <label for="assemblycosts">Assembly cost</label>
        <p>&euro;&nbsp;</p><input type="number" step="0.001" min="0" id="assemblycosts" name="assemblycosts"
            value="{{ ifpresent [product] }}[product:assemblycosts|NullString]{{ endif }}" required>
    </div>

    {{ ifpresent [form] }}
        {{ if [form] and [form:description:errors] }}
            {{ for error in [form:description:errors] }}
                <p class="error">[error]</p>
            {{ endfor }}
        {{ endif }}
    {{ endif }}
    <div>
        <label for="description">Description</label>
        <textarea type="text" id="description" name="description"
            rows="{{ ifpresent [product] }}[product:description|NullString|TextareaRowCount]{{ endif }}">{{ ifpresent [product] }}[product:description|NullString]{{ endif}}</textarea>
    </div>
    <div>
        <input type="submit" value="{{ ifpresent [product] }}Edit product.{{ else }}Create a new product.{{ endif }}"
            class="primary">
    </div>
</form>
