{{ externalinline templates/parts/header.html }}
<section>
    <h2>Orders</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Date created</th>
                <th>Date canceled</th>
            </tr>
        </thead>
        {{ for order in [orders] }}
            <tr class="{{ if [order:status] == 'reservation'}}warning{{ elif [order:status] == 'canceled' }}error{{ endif }}">
                <td>
                    <a href="/order/[order:ID]">[order:ID]</a>
                </td>
                <td>
                    [order:description]
                </td>
                <td>
                    [order:status]
                </td>
                <td>
                    [order:date_created]
                </td>
                <td>
                    [order:date_canceled|NullString]
                </td>
            </tr>
        {{ endfor }}
    </table>
</section>
{{ externalinline templates/parts/footer.html }}